<h1>Admin::Dashboard#show</h1>

<div class="container">
    <div class="row">
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-thumbs-o-up"></i> <span class="counter"><%= @product_count %></span>
                <p>Number of Products</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box"> <i class="fa fa-user"></i> <span class="counter"><%= @category_count %></span>
                <p>Number of Categories</p>
            </div>
        </div>
    </div>
</div>